# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/3/node_modules
/3_react/node_modules
/4/node_modules
/5/node_modules
/6/node_modules
/9/node_modules
/10/node_modules
/11/node_modules
/12/node_modules